# Criptografia e segurança
ecdsa==0.19.1           # Algoritmo de assinatura digital baseado em curvas elípticas
httpx
rsa==4.9.1              # Implementação de RSA para criptografia e assinatura
pyasn1==0.6.1           # ASN.1 para codificação/decodificação de estruturas de dados
python-jose==3.5.0      # JWT e JWS com suporte a JOSE (JSON Object Signing and Encryption)
fastapi
uvicorn[standard]
pydantic-settings
psycopg2-binary
SQLAlchemy
sqlmodel>=0.0.22
python-dotenv
passlib
python-multipart
requests
# Testing dependencies
pytest
pytest-asyncio
pytest-cov
email-validator
bcrypt
aiofiles
# Compatibilidade
six==1.17.0             # Compatibilidade entre Python 2 e 3 (pode ser removido se usar apenas Python 3.6+)
